*
{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.container
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1%;
}
.navbar
{
    padding: 4px;
    margin: 20px;
    display:inline;
}

.img-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26vh;
}
.img-google
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscador
{
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}
.input-google
{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 30px;
    border: 1px solid grey;
}
.button-acceder
{
    background-color: rgb(32, 150, 240);
    color: rgb(255, 255, 255);
    width: 90px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}
span
{
    color: rgb(152, 152, 152);
}

footer{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 330px;
    padding-right: 30px;
}

